<div id="chat" class="span6"><br>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Smart-ID</th>
                    <th>Messages</th>
                    <th>Posted By</th>

                </tr>

            </thead>
            <tbody >
                <tr ng-repeat="cdata in chatData.result">
                    <td>{{cdata.smartId}} </td>
                    <td>{{cdata.message}}</td>
                    <td>{{cdata.postedBy}}</td>
                </tr>
            </tbody>
        </table>
        <br>
         <div class="span6">


           <form name="teacherMesForm" novalidate="novalidate" class="form-horizontal" ng-submit="teachMsg($event, teacherMesForm,MessageDetails)">
            <div class="form-group">
          <center>
         <textarea input name="message" id="Message" class="input-xxlarge" rows="4" limit="4" cols=75%  ng-model="MessageDetails.message" required></textarea><br>

           <div class="alert alert-danger" role="alert" ng-if="teacherMesForm.message.$dirty && teacherMesForm.message.$error.required">
                Please enter message
            </div>

           <button type="submit" class="btn btn-small btn-primary">Send</button>
                   </div>
                 </center>
               </form>
             </div>
</div>
