<div class="container">
    <center>
        <div class="">
            <form name="addMessageForm" novalidate="novalidate" class="form-horizontal" ng-submit="save($event, addMessageForm)">
                <div class="form-group">
                    <textarea input name="message" id="message" class="input-xxlarge" rows="4" limit="4" cols=75% ng-model="MessageDetails.message" required></textarea>
                    <br>
                    <div class="alert alert-danger" role="alert" ng-if="addMessageForm.message.$dirty && addMessageForm.message.$error.required">
                        Please enter Message
                    </div>
                    <button type="submit" class="btn btn-small btn-primary">Post</button>
                </div>
            </form>
        </div>
    </center>
</div>
<!-- Student View -->
<center>
    <br>
    </br>
    <a ng-click="studentMsg()" class="btn btn-small btn-primary">Message List</a>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="min-width: 80px;">Posted By</th>
                    <th style="min-width: 80px;">Message</th>
                    <th style="min-width: 80px;">Entry Time</th>
                </tr>
            </thead>
            </thead>
            <tbody id="commons">
                <tr ng-repeat="info in sData.result">
                    <td>{{info.postedBy}}</td>
                    <td>{{info.message}}</td>
                    <td>{{info.entryTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</center>
