
<center>
 <a class="btn btn-info" ng-click="studentlist()" >Student List</a>
</center>

<!-- --------------------------------------------------------------------------------------------- -->


<br/>
<center>
    <h3>Message List</h3>
    <div id="area" class="span6">
    <div id="table">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Student ID</th>
                   <th>Student Name</th>
                    <th>Message</th>

                </tr>
            </thead>
            <tbody id="commons">
            {{msgData}}
                <tr ng-repeat="info in msgData.result" >
                    {{info}}
                    <td >{{info.smartId}}</td>
                    <td>{{info.studentName}}</td>
                    <td>{{info.message}}</td>
                    <td><a class="btn btn-small btn-primary" ng-click="chatMsg(info)" >chat</a></td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
</center>




 
