<br>
<center>
<h3>Student List</h3>
 <div id="area" class="span6">
    <div id="table">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Student ID</th>
                   <th>Student Name</th>
                    <th>Class Name</th>
                </tr>
            </thead>
            <tbody id="commons">
                <tr ng-repeat="p in people" >
                    {{p}}

                    <td >{{p.smartId}}</td>
                    <td>{{p.firstName}}</td>
                    <td>{{p.cls}}</td>

                    <td><a class="btn btn-small btn-primary" ng-click="tMsg(p)" >Send</a></td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</center>
</br>