<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="panel panel-default" style="margin-top: 25%;">
            <div class="panel-body">
                <h3 style="text-align:center; margin-top: 10px;
                            margin-bottom: 20px;">Gsmart</h3>
                <form role="form" name="loginForm" ng-submit="authenticateUser()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <input class="form-control" placeholder="User ID" name="userId" type="text" autofocus="" ng-model="credentials.smartId" required ng-pattern="/^[A-Z0-9]*$/">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></i>
                                </div>
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="credentials.password">
                            </div>
                        </div>

                        <div class="alert alert-danger" ng-show="loginError">
                                {{loginError.message}}
                        </div>
                        
                        <button class="btn btn-lg btn-success btn-block">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
