<div id="orgStructure">
    <ui-view>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>organization structure</span>
                            </div>
                            <div class="col-sm-4 col-sm-offset-4">
                                <div class="input-group" id="searchBox">
                                    <input type="text" placeholder="search" class="form-control" ng-model="search.name">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="goToSearch()" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                            <div class="card tree-parent-node" ng-show="currentEmp">
                                <a ng-href="#/employeeDetails/{{currentEmp.smartId}}">
                            {{currentEmp.firstName}}</a>
                                <img ng-click="showOrganizationTree(currentEmp.reportingManagerId)" ng-hide="currentEmp.reportingManagerId == currentEmp.smartId" src="img/group.png" class="people-img clickable" />
                                <br/> {{currentEmp.smartId}}
                                <br/> {{currentEmp.role}}
                                </a>
                            </div>
                            <ul class="tree">
                                <li ng-repeat="person in people">
                                    <div class="card">
                                        <a ng-href="#/employeeDetails/{{person.smartId}}">{{person.firstName}}</a>
                                        <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                                        <br/> {{person.smartId}}
                                        <br/> {{person.role}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui-view>
</div>
