<div class="row" id="search">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-head">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-4">
                            <div class="input-group" id="searchBox">
                                <input type="text" placeholder="search" class="form-control" ng-model="search.name">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="goToSearch()" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-1" ng-repeat="person in searchResults">
                        <div class="card">
                            <a ng-href="#/employeeDetails/{{person.smartId}}">{{person.firstName}}</a>
                            <div class="people-img">
                            <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" height="100%" width="100%" class="clickable" />
                            </div>
                            <br/> {{person.smartId}}<!-- 
                            <br/> {{person.role}} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
