<div >
    <div class="container-fluid">
        <div class="row">
            <header style="padding: 10px 0;">
                <div class="container-fluid">
                    <img class="logo" src="img/provider-logo.png" width="100px" />
                    <a href="#/login" class="btn btn-primary btn-sm pull-right">Login</a>
                </div>
            </header>
            <div class="container-fluid" style="position: relative;">
                <div class="row">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner header-carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/img1.jpg">
                                <div class="carousel-caption"></div>
                            </div>
                        </div>
                    </div>
                    <img src="img/logodps.png" style="position: absolute; z-index: 99; top: 10%; left: 15px; width: auto;max-height: 80%;" />
                </div>
            </div>
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Notice</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="x in arr1" class="list-group-item">
                                        <div class="list-group-item-heading">
                                            <h4> {{x.title}} </h4>
                                        </div>
                                        <div class="list-group-item-text">
                                            {{x.message}}
                                        </div>
                                    </li>
                                    <!--                         <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Events</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <!--  <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                            <button class="btn btn-primary btn-sm pull-right">view</button>
                            <div style="clear:both;"></div>
                        </a> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
