/* Component LESS */
@import "partial/home/home.less";
/* Add Component LESS Above */

.general-container {
	background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
}

.general-container .container {
	background: #ffffff;
}