<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Notice</h2>
            </div>
            <div class="panel-body">
                <form name="addNoticeForm" novalidate="novalidate" ng-submit="savenotice($event, addNoticeForm)">
                    <div class="form-group">
                        <label for="type"> Type</label>
                        <select name="type" class="form-control" ng-model="Notice.type1" required>
                            <option value="">Select Type</option>
                            <option value="Generic">Generic</option>
                            <option value="Specific">Specific</option>
                        </select>

                        <div class="alert alert-danger" role="alert" ng-if="addNoticeForm.type.$dirty && addNoticeForm.type.$error.required">
                            Please select Type
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input name="title" type="text" class="form-control" ng-model="Notice.title" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addNoticeForm.title.$dirty && addNoticeForm.title.$error.required">
                            Please enter title
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Message"> Message</label>
                        <input name="message" type="text"  class="form-control" ng-model="Notice.message" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addNoticeForm.message.$dirty && addNoticeForm.message.$error.required">
                            Please enter message
                        </div>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="addNoticeFormError">
                            {{addNoticeFormError}}
                        </div>
                        <center>
                            <a href="#/notice" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
