<ui-view>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Notice</span>
           
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="rwd-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Title </th>
                            <th>Message</th>
                            <th>id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Notice in childNotices">
                            <td>{{ Notice.type1 }}</td>
                            <td>{{ Notice.title }}</td>
                            <td>{{ Notice.message }}</td>
                            <td>{{ Notice.smart_id }}</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
</ui-view>
