<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Notice</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addNotice()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="rwd-table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Title </th>
                            <th>Message</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Notice in NoticeInfo">
                            <td>{{ Notice.type1 }}</td>
                            <td>{{ Notice.title }}</td>
                            <td>{{ Notice.message }}</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-click="editNotice(Notice)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentNotice(Notice)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentNotice = null" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ui-view>
