<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Hierarchy</h2>
            </div>
            <div class="panel-body">
                <form name="editHierarchyForm" novalidate="novalidate" ng-submit="update($event, editHierarchyForm)">
                    <div class="form-group">
                        <label for="Institution"> Institution</label>
                        <input name="institution" type="text" id="Institution" class="form-control" ng-model="hierarchy.institution" required />
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.institution.$dirty && editHierarchyForm.institution.$error.required">
                            Please enter institution
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="School">School</label>
                        <input name="school" type="text" id="School" class="form-control" ng-model="hierarchy.school" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.school.$dirty && editHierarchyForm.school.$error.required">
                            Please enter school
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Standard">Standard</label>
                        <input name="standard" type="text" id="Standard" class="form-control" ng-model="hierarchy.standard" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.standard.$dirty && editHierarchyForm.standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Section"> Section</label>
                        <input name="section" type="text" id="Section" class="form-control" ng-model="hierarchy.section" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHierarchyForm.section.$dirty && editHierarchyForm.section.$error.required">
                            Please enter section
                        </div>
                    </div>
                    <div>
                     <div class="alert alert-danger" role="alert" ng-show="editHierarchyFormSubmitError">
                            {{editHierarchyFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/hierarchy" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
