<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Hierarchy</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addHierarchy()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Institution</th>
                            <th>School </th>
                            <th>Standard</th>
                            <th>Section</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hierarchy in HierarchyInfo">
                            <td>{{hierarchy.institution}}</td>
                            <td>{{hierarchy.school}}</td>
                            <td>{{hierarchy.standard}}</td>
                            <td>{{hierarchy.section}}</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-click="editHierarchy(hierarchy)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentHierarchy(hierarchy)" data-target="#deleteConfirmationModal"><i class="glyphicon glyphicon-remove"></i> delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentHierarchy = null" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" ng-click="delete()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</ui-view>
