<div class="container">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12 ">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Permission</h2>
            </div>
            <div class="panel-body">
                <form name="editPermissionsForm" novalidate="novalidate" ng-submit="update($event, editPermissionsForm)">
                    <div class="form-group">
                        <label for="Role"> Role</label>
                        <input name="role" type="text" id="Role" class="form-control" ng-model="permissions.role" required />
                        <div class="alert alert-danger" role="alert" ng-if="editPermissionsForm.role.$dirty && editPermissionsForm.role.$error.required">
                            Please enter role
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ModuleName">ModuleName</label>
                        <input name="moduleName" type="text" id="ModuleName" class="form-control" ng-model="permissions.moduleName" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editPermissionsForm.moduleName.$dirty && editPermissionsForm.moduleName.$error.required">
                            Please enter moduleName
                        </div>
                    </div>
                    <div>
                        <center>
                            <a href="#/maintenance/permissions" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
