<li ng-repeat="item in navbarItems | limitTo: childLimit" ng-init="adjustMenuItems($last)">
    <a id="closemodal" ng-href="#/{{item.moduleName.toLowerCase()}}">{{item.moduleName}}</a>
</li>
<li class="dropdown" uib-dropdown ng-show="childLimit < navbarItems.length">
    <a href="javascript:void(0)" class="dropdown-toggle" uib-dropdown-toggle>More <span class="caret"></span></a>
    <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="#/{{item.moduleName.toLowerCase()}}" ng-repeat="item in navbarItems" ng-show="$index>childLimit-1">{{item.moduleName}}</a></li>
    </ul>
</li>
