<div class="col-md-12 card">
    <div class="col-md-8" class="card">
        </br>
        <p>Name: {{empDetails.firstName}}</p>
        <p>Gender: {{empDetails.gender}}</p>
        <p>SmartId: {{empDetails.smartId}}</p>
        <p>Reporting To: {{empDetails.reportingManagerName}}</p>
    </div>
    <div class="col-md-4" >
        <div>
            <img src="img/123.jpg" class="img-circle" style="width:200px;" />
        </div>
    </div>
</div>