<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Notice</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="x in arr" class="list-group-item">
                        <div class="list-group-item-heading">
                            <h4> {{x.title}} </h4>
                        </div>

                        <div class="list-group-item-text">
                                {{x.message}}
                        </div>
                    </li>
                </ul>
                <!-- <ul class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below. Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Add nearly any HTML within, even for linked list groups like the one below.</p>
                        <button class="btn btn-primary btn-sm pull-right">view</button>
                        <div style="clear:both;"></div>
                    </a>
                </ul> -->
            </div>
        </div>
    </div>
</div>
