<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Inventory</h2>
            </div>
            <div class="panel-body">
                <form name="addInventoryForm" novalidate="novalidate" ng-submit="save($event, addInventoryForm)">
                    <div class="form-group">
                        <label for="Category"> Category</label>
                        <input name="category" type="text" id="Category" class="form-control" placeholder="enter category" ng-model="inventory.category" required />
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.category.$dirty && addInventoryForm.category.$error.required">
                            Please enter Category
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ItemType"> Item Type</label>
                        <input name="itemType" type="text" id="ItemType" class="form-control" placeholder="enter itemType" ng-model="inventory.itemType" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.itemType.$dirty && addInventoryForm.itemType.$error.required">
                            Please enter Item Type
                        </div>
                    </div>
                    <div>
                        <center>
                            <a href="#/maintenance/inventory" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
