<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Inventory</h2>
            </div>
            <div class="panel-body">
                <form name="editInventoryForm" novalidate="novalidate" ng-submit="update($event, editInventoryForm)">
                    <div class="form-group">
                        <label for="Category"> *Category:</label>
                        <input name="category" type="text" id="Category" class="form-control" ng-model="inventory.category" required />
                        <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.category.$dirty && editInventoryForm.category.$error.required">
                            Please enter Category
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ItemType"> *Item Type:</label>
                        <input name="itemType" type="text" id="ItemType" class="form-control" ng-model="inventory.itemType" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.itemType.$dirty && editInventoryForm.itemType.$error.required">
                            Please enter Item Type
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <center>
                                <a href="#/maintenance/inventory" class="btn btn-default btn-small">cancel</a>
                                <button type="submit" class="btn btn-small btn-primary">update</button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
