
<div class="container">

<div class="col-sm-offset-4 col-sm-4 col-xs-12 ">
    <form name="addInventoryForm" novalidate="novalidate" class="form-horizontal" ng-submit="save($event, addInventoryForm)">
        
        <div class="form-group">
            <label for="inventoryAssignments"> TeacherName</label>
            <input type="text" name="TeacherName" id="inventoryAssignments" class="form-control" ng-model="inventoryAssignments.teacherName" required/>
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.TeacherName.$dirty && addInventoryForm.TeacherName.$error.required">
                Please enter TeacherName
            </div>
        </div>
        
        <div class="form-group">
            <label for="Standard"> Standard</label>
            <input type="text" name="Standard" id="Standard" class="form-control" ng-model="inventoryAssignments.standard" required />
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.Standard.$dirty && addInventoryForm.Standard.$error.required">
                Please enter Standard
            </div>
        </div>
        
        <div class="form-group">
            <label for="Section">Section</label>
            <input type="text" name="Section" id="Section" class="form-control" ng-model="inventoryAssignments.section" required />
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.Section.$dirty && addInventoryForm.Section.$error.required">
                Please enter Section
            </div>
        </div>  

        <div class="form-group">
            <label for="Category">Category</label>
            <select ng-options="item as item.category for item in InventoryInfo | unique : 'category'" ng-required="true" ng-model="currentCategory" class="form-control" required /> 
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.Category.$dirty && addInventoryForm.Category.$error.required">
                Please enter Category
            </div>
        </div> 

        <div class="form-group">
            <label for="ItemType">ItemType</label>
            <select ng-options="item as item.itemType for item in InventoryInfo | filter: {category: currentCategory.category} | unique : 'itemType'" ng-required="true" ng-model="currentItemType" class="form-control" ng-disabled="!currentCategory.category" required>
            </select>
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.ItemType.$dirty && addInventoryForm.ItemType.$error.required">
                Please enter ItemType
            </div>
        </div>

        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input type="text" name="Quantity" id="Quantity" class="form-control" ng-model="inventoryAssignments.quantity" required />
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.Quantity.$dirty && addInventoryForm.Quantity.$error.required">
                Please enter Quantity
            </div>
        </div>  

        <div class="form-group">
            <label for="SmartId">SmartId</label>
            <input type="text" name="SmartId" id="SmartId" class="form-control" ng-model="inventoryAssignments.smartId" required />
            <div class="alert alert-danger" role="alert" ng-if="addInventoryForm.SmartId.$dirty && addInventoryForm.SmartId.$error.required">
                Please enter SmartId
            </div>
        </div>    
        
        <div>
            <center>
                <a href="#/inventoryAssignments/" class="btn btn-small">cancel</a>
                <button type= "submit" class="btn btn-small btn-primary">save</button> 
            </center>
        </div>
    </form>
</div>
