

<div class="container">
    <h1></h1>

     <form name="editInventoryForm" novalidate="novalidate" class="form-horizontal" ng-submit="update($event, editInventoryForm)">   

        <div class="form-group">
            <label for="inventoryAssignments"> TeacherName</label>
            <input type="text" name="TeacherName" id="inventoryAssignments" class="form-control" ng-model="inventoryAssignments.teacherName" required/>
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.TeacherName.$dirty && editInventoryForm.TeacherName.$error.required">
                Please enter TeacherName
            </div>
        </div>
        
        <div class="form-group">
            <label for="Standard"> Standard</label>
            <input type="text" name="Standard" id="Standard" class="form-control" ng-model="inventoryAssignments.standard" required />
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.Standard.$dirty && editInventoryForm.Standard.$error.required">
                Please enter Standard
            </div>
        </div>
        
        <div class="form-group">
            <label for="Section">Section</label>
            <input type="text" name="Section" id="Section" class="form-control" ng-model="inventoryAssignments.section" required />
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.Section.$dirty && editInventoryForm.Section.$error.required">
                Please enter Section
            </div>
        </div>  

        <div class="form-group">
            <label for="Category">Category</label>
            <select ng-options="item as item.category for item in InventoryInfo | unique : 'category'" ng-required="true" ng-model="currentCategory" class="form-control" required></select> 
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.Category.$dirty && editInventoryForm.Category.$error.required">
                Please enter Category
            </div>
        </div>  

        <div class="form-group">
            <label for="ItemType">ItemType</label>
            <select ng-options="item as item.itemType for item in InventoryInfo | filter: {category: currentCategory.category} | unique : 'itemType'" ng-required="true" ng-model="currentItemType" class="form-control" ng-disabled="!currentCategory.category" required></select>            
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.ItemType.$dirty && editInventoryForm.ItemType.$error.required">
                Please enter ItemType
            </div>
        </div> 

        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input type="text" name="Quantity" id="Quantity" class="form-control" ng-model="inventoryAssignments.quantity" required />
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.Quantity.$dirty && editInventoryForm.Quantity.$error.required">
                Please enter Quantity
            </div>
        </div>  

        <div class="form-group">
            <label for="SmartId">SmartId</label>
            <input type="text" name="SmartId" id="SmartId" class="form-control" ng-model="inventoryAssignments.smartId" required />
            <div class="alert alert-danger" role="alert" ng-if="editInventoryForm.SmartId.$dirty && editInventoryForm.SmartId.$error.required">
                Please enter SmartId
            </div>
        </div>   
        
        <div>
            <center>
                <a href="#/inventoryAssignments/" class="btn btn-small">cancel</a>
                <button type= "submit" class="btn btn-small btn-primary">update</button> 
            </center>
        </div>
    </form>
</div>
