<div class="col-md-offset-4 col-md-4">
    
    <p>
             <a href="javascript:void(0)" class="card" style="display: inline-block; padding: 10px;">
                           {{currentEmp.firstName}}<img ng-click="showInventoryTree(currentEmp.repManager)" ng-hide="currentEmp.repManager == currentEmp.smartId" src="img/user-group-256x256.png" class="people-img"/>
                           {{currentEmp.smartId}} <br/>
                           {{currentEmp.designation}}
                        </a>
    </p>
    <ul class="tree">
        <li ng-repeat="person in people">
            
                
            <a href="#/inventoryAssignments/child" class="card" style="display: inline-block; padding: 10px;">
                            {{person.teacherName}}<img ng-click="showInventoryTree(person.teacherName)" ng-show="person.childflag" src="img/user-group-256x256.png" class="people-img"/><br/>
                            {{person.smartId}} <br/>
                            {{person.standard}} <br/>
                            {{person.section}}
                                    
            </a> 

<!--                 <a href="#/inventoryAssignments/child" class="card" style="display: inline-block; padding: 10px;">
                                    {{person.firstName}}<img ng-click="showInventoryTree(person.firstName)" ng-show="person.childflag" src="img/user-group-256x256.png" class="people-img"/><br/>
                                    {{person.smartId}}                                    
                                    
                </a>
                 -->
            
        </li>
    </ul>
</div>
