<center>
    <button class="btn btn-small btn-primary" ng-click="addinventoryAssignments()">Add Inventory Assignments</button>
</center>
<br/>
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="min-width: 80px;">UpdSmartId</th>
            <th style="min-width: 80px;">TeacherName</th>
            <th style="min-width: 80px;">Standard</th>
            <th style="min-width: 80px;">Section</th>
            <th style="min-width: 80px;">Category</th>
            <th style="min-width: 80px;">ItemType</th>
            <th style="min-width: 80px;">Quantity</th>
            <th style="min-width: 80px;">SmartId</th>              
            <th style="width:210px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="InventoryAssignments in InventoryAssignInfo">
            <td>{{ InventoryAssignments.updSmartId }}</td>
            <td>{{ InventoryAssignments.teacherName }}</td>
            <td>{{ InventoryAssignments.standard }}</td>
            <td>{{ InventoryAssignments.section }}</td>
            <td>{{ InventoryAssignments.category }}</td>
            <td>{{ InventoryAssignments.itemType }}</td>
            <td>{{ InventoryAssignments.quantity }}</td>
            <td>{{ InventoryAssignments.smartId }}</td>
           

            <td><a class="btn btn-small btn-primary" ng-click="editInventoryAssignments(InventoryAssignments)">edit</a></td>
            <td><a class="btn btn-small btn-primary" data-toggle="modal" ng-click="setCurrentInventory(InventoryAssignments)"data-target="#confirmDelete">delete</a></td>
           
            <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog modal-vertical-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Delete Parmanently</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this record</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="currentInventory = null" data-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger" ng-click="delete()">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </tbody>
</table>
</div>
