<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Holiday</h2>
            </div>
            <div class="panel-body">
                <form name="editHolidayForm" novalidate="novalidate" ng-submit="update($event, editHolidayForm)">
                    <div class="form-group">
                        <label for="Date"> Date</label>
                        <input name="date" type="date" id="Date" class="form-control" ng-model="holiday.holidayDate" required />
                        <div class="alert alert-danger" role="alert" ng-if="editHolidayForm.date.$dirty && editHolidayForm.date.$error.required">
                            Please enter date
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="Location">Location</label>
                        <input name="location" type="text" id="Location" class="form-control" ng-model="holiday.location" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHolidayForm.location.$dirty && editHolidayForm.location.$error.required">
                            Please enter location
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="holiday.description" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editHolidayForm.description.$dirty && editHolidayForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                    <div>
                    <div class="alert alert-danger" role="alert" ng-show="editHolidayFormSubmitError">
                        {{editHolidayFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/holiday" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
