<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Holiday</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addHoliday()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Date</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="holiday in HolidayInfo">
                            <td>{{holiday.displayDate}}</td>
                            <td>{{holiday.description}}</td>
                            <td>
                            <div class="pull-right">
                                <a class="btn btn-small btn-primary" ng-click="editHoliday(holiday)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentHoliday(holiday)" data-target="#deleteConfirmationModal"><i class="glyphicon glyphicon-remove"></i> delete</a>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteConfirmationModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                                <div class="modal-dialog modal-vertical-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Delete Parmanently</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this record</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="currentHoliday = null" data-dismiss="modal">Cancel</button>
                                            <a type="button" class="btn btn-danger" ng-click="delete()">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
</ui-view>
