<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Leave</h2>
            </div>
            <div class="panel-body">
                <form name="addLeaveForm" novalidate="novalidate" ng-submit="save($event, addLeaveForm)">
                    <div class="form-group">
                        <label for="SmartId"> SmartId</label>
                        <input name="smartId" type="text" id="SmartId" class="form-control" ng-model="leave.smartId" required />
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.smartId.$dirty && addLeaveForm.smartId.$error.required">
                            Please enter smartId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Reporting Manager Id">Reporting Manager Id</label>
                        <input name="reportingManagerId" type="text" id="Reporting Manager Id" class="form-control" ng-model="leave.reportingManagerId" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.reportingManagerId.$dirty && addLeaveForm.reportingManagerId.$error.required">
                            Please enter reportingManagerId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Leave Type">Leave Type</label>
                        <input name="standard" type="text" id="Leave Type" class="form-control" ng-model="leave.leaveType" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.leaveType.$dirty && addLeaveForm.leaveType.$error.required">
                            Please enter leaveType
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Start Date"> Start Date</label>
                        <input name="startDate" type="date" id="Start Date" class="form-control" ng-model="leave.startDate"  required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.startDate.$dirty && addLeaveForm.startDate.$error.required">
                            Please enter startDate
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="End Date"> End Date</label>
                        <input name="endDate" type="date" id="End Date"  class="form-control" ng-model="leave.endDate" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.endDate.$dirty && addLeaveForm.endDate.$error.required">
                            Please enter endDate
                        </div>
                    </div>
                     <!-- <div class="form-group">
                        <label for="No of Days"> No of Days</label>
                        <input name="numberOfDays" type="text" id="No of Days" class="form-control" ng-model="leave.numberOfDays" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.numberOfDays.$dirty && addLeaveForm.numberOfDays.$error.required">
                            Please enter numberOfDays
                        </div>
                    </div> -->
                     <div class="form-group">
                        <label for="Description"> Description</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="leave.description" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.description.$dirty && addLeaveForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                    <!--  <div class="form-group">
                        <label for="Leave Status"> Leave Status</label>
                        <input name="leaveStatus" type="text" id="Leave Status" class="form-control" ng-model="leave.leaveStatus" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addLeaveForm.leaveStatus.$dirty && addLeaveForm.leaveStatus.$error.required">
                            Please enter leaveStatus
                        </div>
                    </div> -->
                    <div>
                     <div class="alert alert-danger" role="alert" ng-show="addLeaveFormSubmitError">
                            {{addLeaveFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/Leave" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">add</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
