<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Leave</h2>
            </div>
            <div class="panel-body">
                <form name="editLeaveForm" novalidate="novalidate" ng-submit="update($event, editLeaveForm)">
                    <div class="form-group">
                        <label for="SmartId"> SmartId</label>
                        <input name="smartId" type="text" id="SmartId" class="form-control" ng-model="leave.smartId" required />
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.smartId.$dirty && editLeaveForm.smartId.$error.required">
                            Please enter smartId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Reporting Manager Id">Reporting Manager Id</label>
                        <input name="reportingManagerId" type="text" id="Reporting Manager Id" class="form-control" ng-model="leave.reportingManagerId" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.reportingManagerId.$dirty && editLeaveForm.reportingManagerId.$error.required">
                            Please enter reportingManagerId
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Leave Type">Leave Type</label>
                        <input name="standard" type="text" id="Leave Type" class="form-control" ng-model="leave.leaveType" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.leaveType.$dirty && editLeaveForm.leaveType.$error.required">
                            Please enter leaveType
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Start Date"> Start Date</label>
                        <input name="startDate" type="text" id="Start Date" class="form-control" ng-model="leave.startDate" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.startDate.$dirty && editLeaveForm.startDate.$error.required">
                            Please enter startDate
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="End Date"> End Date</label>
                        <input name="section" type="text" id="End Date" class="form-control" ng-model="leave.endDate" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.endDate.$dirty && editLeaveForm.endDate.$error.required">
                            Please enter endDate
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="No of Days"> No of Days</label>
                        <input name="numberOfDays" type="text" id="No of Days" class="form-control" ng-model="leave.numberOfDays" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.numberOfDays.$dirty && editLeaveForm.numberOfDays.$error.required">
                            Please enter numberOfDays
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="Description"> Description</label>
                        <input name="description" type="text" id="Description" class="form-control" ng-model="leave.description" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.description.$dirty && editLeaveForm.description.$error.required">
                            Please enter description
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="Leave Status"> Leave Status</label>
                        <input name="leaveStatus" type="text" id="Leave Status" class="form-control" ng-model="leave.leaveStatus" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editLeaveForm.leaveStatus.$dirty && editLeaveForm.leaveStatus.$error.required">
                            Please enter leaveStatus
                        </div>
                    </div>
                    <div>
                     <div class="alert alert-danger" role="alert" ng-show="editLeaveFormSubmitError">
                            {{editLeaveFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/Leave" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
