<div class="row">
    <div class="col-sm-12">
        <form name="addFeeForm" ng-submit="save($event, addFeeForm)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>  Fee Details </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="Standard"> Standard</label>
                                <select name="Standard" ng-options="item as item.standard for item in FeeInfo | unique : 'standard'" ng-model="FeeStructure.standard" class="form-control" ng-click="setFees(FeeStructure.standard)"></select>
                                <!--   <input type="text" name="standard" class="form-control" ng-model="FeeStructure.standard" required /> -->
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.standard.$touched) && addFeeForm.standard.$error.required">
                                    Please enter standard
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="SportsFee">SportsFee</label>
                                <input type="text" name="SportsFee" id="SportsFee" class="form-control" ng-model="FeeStructure.sportsFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.SportsFee.$touched) && addFeeForm.SportsFee.$error.required">
                                    Please enter SportsFee
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="TuitionFee">TuitionFee</label>
                                <input type="text" name="TuitionFee" id="TuitionFee" class="form-control" ng-model="FeeStructure.tuitionFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.TuitionFee.$touched) && addFeeForm.TuitionFee.$error.required">
                                    Please enter TuitionFee
                                </div>
                            </div>
                        </div>
                       <!--  <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="IdCardFee">IdCardFee</label>
                                <input type="text" name="IdCardFee" id="IdCardFee" class="form-control" ng-model="FeeStructure.idCardFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.IdCardFee.$touched) && addFeeForm.IdCardFee.$error.required">
                                    Please enter IdCardFee
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="MiscellaneousFee">MiscellaneousFee</label>
                                <input type="text" name="MiscellaneousFee" id="MiscellaneousFee" class="form-control" ng-model="FeeStructure.miscellaneousFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.MiscellaneousFee.$touched) && addFeeForm.MiscellaneousFee.$error.required">
                                    Please enter MiscellaneousFee
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="TotalFee">TotalFee</label>
                                <input type="text" name="TotalFee" id="TotalFee" class="form-control" ng-model="FeeStructure.totalFee" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.TotalFee.$touched) && addFeeForm.TotalFee.$error.required">
                                    Please enter TotalFee
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <label for="ModeOfPayment">ModeOfPayment</label>
                            <select name="mop" ng-model="FeeStructure.modeOfPayment" class="form-control" required>
                                <option value="cash">cash</option>
                                <option value="cheque">cheque</option>
                                <option value="Demand Draft">Demand Draft</option>
                                <option value="card">card</option>
                            </select>
                            <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.mop.$touched) && addFeeForm.mop.$error.required">
                                Please enter Mode Of Payment
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="FeeStatus">FeeStatus</label>
                                <select class="form-control" name="feeStatus" ng-model="FeeStructure.feeStatus" required>
                                    <option value="paid">Paid</option>
                                    <option value="Unpaid">UnPaid</option>
                                </select>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.feeStatus.$touched) && addFeeForm.feeStatus.$error.required">
                                    Please enter FeeStatus
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="AcademicYear">AcademicYear</label>
                                <input type="text" name="AcademicYear" class="form-control" ng-model="FeeStructure.academicYear" required/>
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.AcademicYear.$touched) && addFeeForm.AcademicYear.$error.required">
                                    Please enter academic year
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="SmartId">SmartId</label>
                                <input type="text" name="SmartId" class="form-control" ng-model="FeeStructure.smartId" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.SmartId.$touched) && addFeeForm.SmartId.$error.required">
                                    Please enter SmartId
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="Name"> Name</label>
                                <input type="text" name="Name" class="form-control" ng-model="FeeStructure.name" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.Name.$touched) && addFeeForm.Name.$error.required">
                                    Please enter Name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 ">
                            <div class="form-group">
                                <label for="PaidAmount"> Paid Amount</label>
                                <input type="text" name="PaidAmount" class="form-control" ng-model="FeeStructure.paidFee" required />
                                <div class="alert alert-danger" ng-show="(addFeeForm.$submitted || addFeeForm.PaidAmount.$touched) && addFeeForm.PaidAmount.$error.required">
                                    Please enter Paid Amount
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <center>
                            <a href="#/fee/" class="btn btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save</button>
                        </center>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
