<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Fee Details</span>
           <!--  <button class="btn btn-small btn-primary pull-right" ng-click="addFee()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button> -->
            <div class="clear-both"></div>
        </div>
        <form name="getFeeForm" novalidate="novalidate" ng-submit="getFees($event,getFeeForm)">
            <br>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="AcademicYear">AcademicYear</label>
                    <div class="col-sm-3">
                        <input type="text" name="AcademicYear" id="AcademicYear" class="form-control" ng-model="FeeStructure.academicYear" required/>
                        <div class="alert alert-danger" role="danger" ng-if="getFeeForm.academicYear.$dirty &&
                        getFeeForm.academicYear.$error.required">
                            Please enter AcademicYear
                        </div>
                    </div>
                    <button class="btn btn-small btn-primary" ng-click="getFees()">
                        <i class="glyphicon glyphicon-search"></i> Search
                    </button>
                </div>
        </form>
        <label></label>
        <div class="panel-body" ng-if="FeeStructureInfo" ng-show="true">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                           
                            <th>Pay Date</th>
                            <th>Pay Method</th>
                           
                            <th>BalanceFee</th>
                            <th>Paid Amount</th>
                            <th>TotalFee</th>
                            <th>FeeStatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Fee in FeeStructureInfo">
                          
                            <td>{{ Fee.date }}</td>
                            <td>{{ Fee.modeOfPayment }}</td>
                           
                            <td>{{ Fee.balanceFee }}</td>
                            <td>{{ Fee.paidFee }}</td>
                            <td>{{ Fee.totalFee }}</td>
                            <td>{{ Fee.feeStatus }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</ui-view>
