<div data-ng-controller="FeeOrgCtrl">
    <div id="orgStructure">
        <ui-view>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-4">
                                    <span> Fee Structure</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-repeat="emp in currentEmp">
                            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                                <div class="card tree-parent-node" ng-show="currentEmp">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <a ng-href="#/employeeDetails">
                                                  {{emp.firstName}}</a>
                                            <img ng-click="showOrganizationTree(emp.reportingManagerId)" ng-hide="emp.reportingManagerId == emp.smartId" src="img/group.png" class="people-img clickable" />
                                            <br/> {{emp.smartId}}
                                            <br/> {{emp.role}}
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="avatar" class="user-info">
                                                <img ng-src="{{'data:image/png;base64, ' + emp.image}}" width="100%" />
                                            </div>
                                        </div>
                                    </div>
                                    Total Amount {{emp.totalAmount}}
                                    <br/> Paid Amount {{emp.paidAmount}}
                                    <br/> Balance Amount {{emp.balanceAmount}}
                                    </a>
                                </div>
                                <ul class="tree">
                                    <li ng-repeat="person in people">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <a ng-href="#/employeeDetails/{{person.smartId}}">{{person.firstName}}</a>
                                                    <img ng-click="showOrganizationTree(person.smartId)" ng-show="person.childFlag" src="img/group.png" class="people-img clickable" />
                                                    <br/> {{person.smartId}}
                                                    <br/> {{person.role}}
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="avatar" class="user-info">
                                                        <img ng-src="{{'data:image/png;base64, ' + person.image}}" width="100%" />
                                                    </div>
                                                </div>
                                            </div>
                                            Total Amount {{person.totalAmount}}
                                            <br/> Paid Amount {{person.paidAmount}}
                                            <br/> Balance Amount {{person.balanceAmount}}
                                            <br/>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui-view>
    </div>
</div>
