<!-- 
<center>
    <button class="btn btn-small btn-primary" ng-click="addfee()">Add Fee</button>
</center>
<br/> -->
<ui-view>
<label></label>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th style="min-width: 80px;">Standard</th>
            <th style="min-width: 80px;">SmartId</th>
            <th style="min-width: 80px;">AcademicYear</th>
            <th style="min-width: 80px;">TimeStamp</th>
            <th style="min-width: 80px;">Name</th>
            <th style="min-width: 80px;">ParentName</th>
            <th style="min-width: 80px;">ModeOfPayment</th>
            <th style="min-width: 80px;">SportsFee</th>
            <th style="min-width: 80px;">IdCardFee</th>
            <th style="min-width: 80px;">TuitionFee</th>
            <th style="min-width: 80px;">MiscellaneousFee </th>
            <th style="min-width: 80px;">PaidFee</th>
            <th style="min-width: 80px;">BalanceFee</th>
            <th style="min-width: 80px;">TotalFee</th>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">FeeStatus</th>
        </tr>
    </thead>
    <tbody>{{Fee.academicYear}}
        <tr ng-repeat="Fee in FeeStructure">
            <td>{{ Fee.academicYear }}</td>
            <td>{{ Fee.standard}}</td>
            <td>{{ Fee.miscellaneousFee }}</td>
            <td>{{ Fee.sportsFee }}</td>
            <td>{{ Fee.timeStamp}}</td>
            <td>{{ Fee.tuitionFee }}</td>
            <td>{{ Fee.smartId }}</td>
            <td>{{ Fee.totalFee }}</td>
            <td>{{ Fee.idCardFee }}</td>
            <td>{{ Fee.Name }}</td>
            <td>{{ Fee.parentName }}</td>
            <td>{{ Fee.Date }}</td>
            <td>{{ Fee.paidFee }}</td>
            <td>{{ Fee.balanceFee }}</td>
            <td>{{ Fee.modeOfPayment }}</td>
            <td>{{ Fee.feeStatus }}</td>
           
        </tr>
    </tbody>
</table>
</div>
</ui-view>
