<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Employees</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addProfile()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Smart Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th>Reporting To</th>
                    </tr>
                </thead>
                <tbody><!-- ng-if="profile.teacherId" -->
                    <tr ng-repeat="profile in profileInfo.result" >
                        <td>{{ profile.smartId }}</td>
                        <td>{{ profile.firstName }}</td>
                        <td>{{ profile.lastName }}</td>
                        <td>{{ profile.role }}</td>
                        <td>{{ profile.reportingManagerName }}</td>
                        <td>
                            <div class="pull-right">
                            <a class="btn btn-small btn-primary" ng-click="editProfile(profile)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="loader-background">
        <img class="loader-icon" src="img/loading_spinner.gif" ng-show="loading" />
    </div>
</ui-view>
