<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center"> Employee Registration Form </h2>
        <form name="registrationForm" ng-submit="save($event, registrationForm)" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span> Personal Details </span>
                    <button class="btn btn-small btn-primary pull-right">submit</button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="personalDetailsForm">
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="First Name"> First Name</label>
                                    <input type="text" name="firstName" ng-model="profile.firstName" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.firstName.$touched) && registrationForm.personalDetailsForm.firstName.$error.required">
                                    Please enter First name
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="Middle Name"> Middle Name</label>
                                    <input type="text" name="middleName" ng-model="profile.middleName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="Last Name"> Last Name</label>
                                    <input type="text" name="lastName" ng-model="profile.lastName" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.lastName.$touched) && registrationForm.personalDetailsForm.lastName.$error.required">
                                    Please enter Last name
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 ">
                                <div class="form-group">
                                    <label for="DOB"> DOB </label>
                                    <input type="date" name="DOB" ng-model="profile.dob" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.DOB.$touched) && registrationForm.personalDetailsForm.DOB.$error.required">
                                    Please select Date of birth
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Martial Status"> Martial Status </label>
                                    <select name="marital" ng-model="profile.martialStatus" class="form-control">
                                        <option value="single">single</option>
                                        <option value="married">married</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.marital.$touched) && registrationForm.personalDetailsForm.marital.$error.required">
                                    Please select Martial Status
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Gender"> Gender </label>
                                    <select name="gender" ng-model="profile.gender" class="form-control" required>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.gender.$touched) && registrationForm.personalDetailsForm.gender.$error.required">
                                    Please select Gender
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Blood Group"> Blood Group </label>
                                    <select name="bldGroup" ng-model="profile.bloodGroup" class="form-control">
                                        <option value="A +ve">A +ve</option>
                                        <option value="A -ve">A -ve</option>
                                        <option value="B +ve">B +ve</option>
                                        <option value="B -ve">B -ve</option>
                                        <option value="AB +ve">AB +ve</option>
                                        <option value="AB -ve">AB -ve</option>
                                        <option value="O +ve">O +ve</option>
                                        <option value="O -ve">O -ve</option>
                                    </select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.bldGroup.$touched) && registrationForm.personalDetailsForm.bldGroup.$error.required">
                                    Please select Blood Group
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Nationality"> Nationality </label>
                                    <input type="text" name="Nationality" ng-model="profile.nationality" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.Nationality.$touched) && registrationForm.personalDetailsForm.Nationality.$error.required">
                                    Please Enter Nationality
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Language Known "> Language Known </label>
                                    <input type="text" name="LanguageKnown " ng-model="profile.languageKnown" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.LanguageKnown.$touched) && registrationForm.personalDetailsForm.LanguageKnown.$error.required">
                                    Please Enter the Languages Known
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Institution"> Institution </label>
                                    <select name="institution" ng-options="item as item.institution for item in HierarchyInfo | unique : 'institution'" ng-model="$parent.currentInstitution" class="form-control" required></select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.institution.$touched) && registrationForm.personalDetailsForm.institution.$error.required">
                                    Please select Institution
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="School"> School </label>
                                    <select name="school" ng-options="item as item.school for item in HierarchyInfo | filter: {institution: currentInstitution.institution} | unique : 'school'" ng-required="true" ng-model="$parent.currentSchool" ng-disabled="!$parent.currentInstitution.institution" class="form-control" required></select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.school.$touched) && registrationForm.personalDetailsForm.school.$error.required">
                                    Please select School
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="bandName"> Band </label>
                                    <select name="band" ng-options="item as item.bandId for item in BandInfo | unique : 'bandId'" ng-required="true" ng-model="$parent.currentBand" class="form-control" required></select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.band.$touched) && registrationForm.personalDetailsForm.band.$error.required">
                                    Please select Band
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="designation"> Designation </label>
                                    <select name="designation" ng-options="item as item.designation for item in BandInfo | filter: {bandId: currentBand.bandId} | unique : 'designation'" ng-required="true" ng-model="$parent.currentDesignation" class="form-control" ng-disabled="!currentBand.bandId" required></select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.designation.$touched) && registrationForm.personalDetailsForm.designation.$error.required">
                                    Please select Designation
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="role"> Role </label>
                                    <select name="role" ng-options="item as item.role for item in BandInfo | filter: {designation: currentDesignation.designation, bandId: currentBand.bandId} | unique : 'role'" ng-required="true" ng-model="$parent.currentRole" class="form-control" ng-disabled="!currentDesignation.designation" required></select>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.role.$touched) && registrationForm.personalDetailsForm.role.$error.required">
                                    Please select Role
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Employee ID"> Employee ID</label>
                                    <input type="text" name="teacherID" ng-model="profile.teacherId" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.personalDetailsForm.teacherID.$touched) && registrationForm.personalDetailsForm.teacherID.$error.required">
                                    Please Enter Employee ID
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Image"> Photo </label>
                                    <input type="file" ng-model="profile.image" base-sixty-four-input>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Reporting Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="reportingDetailsForm" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="reportingmanagerid"> Reporting Manager Id</label>
                                    <div class="input-group add-on">
                                        <input type="text" name="repId" class="form-control" placeholder="Search" ng-model="search.name" required/>
                                        <div class="input-group-btn">
                                            <a data-toggle="modal" data-target="#myModal" ng-click="searchs()" class="btn btn-primary">search</a></center>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger" ng-show="registrationForm.$submitted && registrationForm.reportingDetailsForm.repId.$error.required">
                                    Please enter Reporting Manager Id
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="functionmanagerid"> Reporting Manager Name</label>
                                    <input type="text" id="reportingmanagerid" ng-model="profile.reportingManagerName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="countermanagerid"> Counter Signing Manager ID</label>
                                    <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerId" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="countermanagerid"> Counter Signing Manager name</label>
                                    <input type="text" id="countermanagerid" ng-model="profile.counterSigningManagerName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="functionmanagerid"> Functional Manager ID</label>
                                    <input type="text" id="functionrmanagerid" ng-model="profile.functionalManager" class="form-control" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Educational qualification and Industry Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="educationDetailsForm" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Qualification "> Qualification </label>
                                    <input type="text" id="Qualification" ng-model="profile.qualification" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="certification Details"> Certification Details</label>
                                    <input type="text" id="certificationDetails" ng-model="profile.certificationDetails" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="joiningdate"> Joining Date </label>
                                    <input type="Date" id="Joining Date" ng-model="profile.joiningDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Domain"> Domain </label>
                                    <input type="text" id="Domain" ng-model="profile.domain" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="billingdetails"> Billing Details </label>
                                    <input type="text" id="billingdetails" ng-model="profile.billingDetails" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="tenth"> 10th School Name</label>
                                    <input type="text" id="tenth" ng-model="profile.tenSchoolName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="tenth"> 10th Percentage</label>
                                    <input type="text" id="tenth" ng-model="profile.tenPercentage" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="tenthyear"> 10th Pass Year</label>
                                    <input type="text" id="tenthyear" ng-model="profile.tenPassYear" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="twelth"> 12th School Name</label>
                                    <input type="text" id="twelth" ng-model="profile.twelveSchoolName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="twelth"> 12th Percentage</label>
                                    <input type="text" id="twelth" ng-model="profile.twelvePercentage" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="12year"> 12th Pass Year</label>
                                    <input type="text" id="12year" ng-model="profile.twelvePassYear" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ug"> UG College Name</label>
                                    <input type="text" id="ug" ng-model="profile.ugSchoolName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ug"> UG Percentage</label>
                                    <input type="text" id="ug" ng-model="profile.ugPercentage" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ugyear"> UG Pass Year</label>
                                    <input type="text" id="ugyear" ng-model="profile.ugPassYear" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ug"> PG College Name</label>
                                    <input type="text" id="ug" ng-model="profile.pgSchoolName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ug"> PG Percentage</label>
                                    <input type="text" id="ug" ng-model="profile.pgPercentage" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ugyear"> PG Pass Year</label>
                                    <input type="text" id="ugyear" ng-model="profile.pgPassYear" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="overall">Overall Experience</label>
                                    <input type="text" id="overall" ng-model="profile.experiance" class="form-control" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Contact Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="contactDetailsForm" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emailid "> Email ID * </label>
                                    <input type="text" name="emailid" ng-model="profile.emailId" class="form-control" required/>
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.emailid.$touched) && registrationForm.contactDetailsForm.emailid.$error.required">
                                    Please enter Email ID
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="mobile "> Mobile Number </label>
                                    <input type="text" name="mobileNo" ng-model="profile.mobileNumber" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.mobileNo.$touched) && registrationForm.contactDetailsForm.mobileNo.$error.required">
                                    Please enter Mobile Number
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emcp "> Emergency Contact Person </label>
                                    <input type="text" name="emcp" ng-model="profile.emergencyContactPerson" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.emcp.$touched) && registrationForm.contactDetailsForm.emcp.$error.required">
                                    Please enter Emergency Contact Person
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emc "> Emergency Contact Number </label>
                                    <input type="text" name="emcNo" ng-model="profile.emergencyContactNumber" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.emcNo.$touched) && registrationForm.contactDetailsForm.emcNo.$error.required">
                                    Please enter Emergency Contact Number
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="address1 "> Address Line1 </label>
                                    <input type="text" name="address1" ng-model="profile.addLine1" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.address1.$touched) && registrationForm.contactDetailsForm.address1.$error.required">
                                    Please enter Address
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="address2 "> Address Line2</label>
                                    <input type="text" name="address2" ng-model="profile.addLine2" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.address2.$touched) && registrationForm.contactDetailsForm.address2.$error.required">
                                    Please enter Address
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="address2 ">Address Line3</label>
                                    <input type="text" id="address2" ng-model="profile.addLine3" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emploc ">State</label>
                                    <input type="text" name="state" ng-model="profile.state" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.state.$touched) && registrationForm.contactDetailsForm.state.$error.required">
                                    Please enter State
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emploc "> Country</label>
                                    <input type="text" name="country" ng-model="profile.country" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.country.$touched) && registrationForm.contactDetailsForm.country.$error.required">
                                    Please enter Country
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emploc "> City</label>
                                    <input type="text" name="city" ng-model="profile.city" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.city.$touched) && registrationForm.contactDetailsForm.city.$error.required">
                                    Please enter City
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="emploc "> PinCode</label>
                                    <input type="text" name="pinCode" ng-model="profile.pinCode" class="form-control" />
                                </div>
                                <div class="alert alert-danger" ng-show="(registrationForm.$submitted || registrationForm.contactDetailsForm.pinCode.$touched) && registrationForm.contactDetailsForm.pinCode.$error.required">
                                    Please enter Pin Code
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Passport Details</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ng-form name="passportDetailsFrom" role="form">
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Blackberry Number"> Passport Number </label>
                                    <input type="text" id="Passport Number" ng-model="profile.passportNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Blackberry Number"> Passport Issue Date </label>
                                    <input type="date" id="Passport Issue Date" ng-model="profile.passportIssueDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 register">
                                <div class="form-group">
                                    <label for="Blackberry Number"> Passport Expiry Date </label>
                                    <input type="date" id="Passport Expiry Date" ng-model="profile.passportExpiryDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 register">
                                <div class="form-group">
                                    <label for="ecnr"> ECNR Status </label>
                                    <input type="text" id="ecnr" ng-model="profile.ecnrStatus" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 register">
                                <div class="form-group">
                                    <label for="visa"> Visa Details</label>
                                    <input type="text" id="visa" ng-model="profile.visaDetails" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 register">
                                <div class="form-group">
                                    <label for="pan"> PAN Number</label>
                                    <input type="text" id="pan" ng-model="profile.panNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12 register">
                                <div class="form-group">
                                    <label for="adhar"> ADHAR Number</label>
                                    <input type="text" id="adhar" ng-model="profile.aadharNumber" class="form-control" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-small btn-primary">submit</button>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                    <h4 class="modal-title">Reporting Manager</h4></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" class="span6">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="">SmartId</th>
                                    <th style="">First Name </th>
                                    <th style="">Last Name </th>
                                    <th style="">Role </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in repInfo.result">
                                    {{item}}
                                    <td>{{item.smartId}}</td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.role}}</td>
                                    <td><a class="btn btn-small btn-primary" ng-click="editrep(item)">select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
