<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Fee</h2>
            </div>
            <div class="panel-body">
                <form name="addFee" novalidate="novalidate" ng-submit="save($event, addFee)">
                    <div class="form-group">
                        <label for="fee"> Standard</label>
                        <input type="text" name="Standard" id="fee" class="form-control" ng-model="fee.standard" required/>
                        <div class="alert alert-danger" role="alert" ng-if="addFee.Standard.$dirty && addFee.Standard.$error.required">
                            Please enter standard
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MiscellaneousFee"> MiscellaneousFee</label>
                        <input type="number" name="MiscellaneousFee" id="MiscellaneousFee" class="form-control" ng-model="fee.miscellaneousFee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.MiscellaneousFee.$dirty && addFee.MiscellaneousFee.$error.required">
                            Please enter MiscellaneousFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SportsFee">SportsFee</label>
                        <input type="number" name="SportsFee" id="SportsFee" class="form-control" ng-model="fee.sportsFee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.SportsFee.$dirty && addFee.SportsFee.$error.required">
                            Please enter SportsFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TransportationFee">TransportationFee</label>
                        <input type="number" name="TransportationFee" id="TransportationFee" class="form-control" ng-model="fee.transportationFee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.TransportationFee.$dirty && addFee.TransportationFee.$error.required">
                            Please enter TransportationFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TuitionFee">TuitionFee</label>
                        <input type="number" name="TuitionFee" id="TuitionFee" class="form-control" ng-model="fee.tuitionFee" required />
                        <div class="alert alert-danger" role="alert" ng-if="addFee.TuitionFee.$dirty && addFee.TuitionFee.$error.required">
                            Please enter TuitionFee
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TotalFee">TotalFee</label>
                        <div class="form-control">{{fee.tuitionFee -- fee.transportationFee -- fee.sportsFee -- fee.miscellaneousFee}}
                        </div>
                    </div>
                    <div>
                        <center>
                            <a href="#/maintenance/fee" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">save
                            </button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
