<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Fee</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addfee()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
             <button class="btn btn-small btn-primary pull-right" ng-click="upload()">
                <i class="glyphicon glyphicon-plus"></i> Upload Fee
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Standard</th>
                            <th>MiscellaneousFee </th>
                            <th>SportsFee</th>
                            <th>TansportationFee</th>
                            <th>TuitionFee</th>
                            <th>TotalFee</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Fee in FeeInfo">
                            <td>{{ Fee.standard}}</td>
                            <td>{{ Fee.miscellaneousFee }}</td>
                            <td>{{ Fee.sportsFee }}</td>
                            <td>{{ Fee.transportationFee }}</td>
                            <td>{{ Fee.tuitionFee }}</td>   
                            <td>{{ Fee.totalFee }}</td>
                            <!-- <td><a class="btn btn-small btn-primary" ng-click="editFee(Fee)">edit</a></td>
                            <td><a class="btn btn-small btn-primary" data-toggle="modal" ng-click="setCurrentFee(Fee)" data-target="#confirmDelete">delete</a></td> -->
                            <td>
                            	<div class="pull-right">
                                	<a class="btn btn-small btn-primary" ng-click="editFee(Fee)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                	<a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentFee(Fee)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> delete</a>
                            	</div>
                        	</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentBand = null" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger" ng-click="delete()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</ui-view>
