<!-- <div class="col-md-3 col-sm-3 col-xs-12 register">
    <div class="form-group">
        <label> File </label>
        <input type="file" ng-model="upload.file" base-sixty-four-input>
    </div>
</div>
<button class="btn btn-small btn-primary " ng-click="uploadFile()">submit</button> -->



<div ng-controller="FeeMasterCtrl">
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadFile()">upload me</button>
</div>
