<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Students</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addProfile()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Smart Id</th>
                        <th>Name</th>
                        <th>Standard</th>
                        <th>Section</th>
                        <th>School</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody><!-- ng-if="profile.studentId" -->
                    <tr ng-repeat="profile in profileInfo.result " >
                        <td>{{ profile.smartId }}</td>
                        <td>{{ profile.firstName }}</td>
                        <td>{{ profile.standard }}</td>
                        <td>{{ profile.section }}</td>
                        <td>{{ profile.school }}</td>
                        <td>
                            <div class="pull-right">
                                <a class="btn btn-small btn-primary" ng-click="editProfile(profile)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ui-view>
