<nav class="navbar navbar-static navbar-default navbar-fixed-top app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg sidebar-toggle" data-toggle="sidebar" data-target=".sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="img/provider-logo.png" width="100px" /></a>
        </div>
        <button type="button" class="btn btn-primary btn-sm pull-right hidden-xs" ng-click="logout()" style="margin-top: 10px;"> logout
        </button>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 50px;padding-top: 20px;">
    <div class="row">
        <div class="col-xs-7 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
            <div class="user-info">
                <div class="avatar"><!-- src="img/student-sample.jpg" -->
                    <a ng-href="#/profile">
                      <!--   <img ng-src="{{'data:image/png;base64, ' + details.image}}" width="100%" /> 
 -->
                         <img ng-src="{{'data:image/*;base64, ' + details.image}}" width="100%" />
                    </a>
                    
                </div>
                <div class="info">
                    <span class="name">{{details.firstName}} {{details.lastName}}</span>
                    <br/>
                    <span class="role">{{details.role}}</span>


                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="list">
                <ul>
                    <li ng-class="{'active': currentPage==='home'}">
                        <a ng-href="#/home">Home</a>
                    </li>
                    <li ng-repeat="module in modules" ng-class="{'active': currentPage===module.moduleName.toLowerCase()}" data-toggle="sidebar" data-target=".sidebar">
                        <a ng-href="#/{{module.moduleName.toLowerCase()}}">{{module.moduleName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-10">
            <div ui-view></div>
        </div>
    </div>
</div>
