/* Component LESS */
@import "partial/band/band.less";
@import "partial/hierarchy/hierarchy.less";
@import "partial/inventory/inventory.less";
@import "partial/fee/fee.less";
@import "partial/holiday/holiday.less";
@import "partial/privilege/privilege.less";
/* Add Component LESS Above */

.mar-top{margin-top:3%;}

.maintenance {
	.component { 
		color: #286090;
	}

	.component:hover   {
    	background: #286090;
    	color: #ffffff;
	}

	a:hover {
		text-decoration: none;
	}
}