<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Maintenance</span>
        </div>
        <div class="panel-body">
            <div class="container-fluid maintenance">
                <div class="row">
                    <h3 class="text-center"></h3>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/band">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-flag fa-3x"></i>
                                    <p><strong>Band</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/hierarchy">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-gg fa-3x"></i>
                                    <p><strong>Hierarchy</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/holiday">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-th-list fa-3x"></i>
                                    <p><strong>Holiday</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/permissions">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-th-list fa-3x"></i>
                                    <p><strong>Permissions</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/inventory">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-th-list fa-3x"></i>
                                    <p><strong>Inventory</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/fee">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-th-list fa-3x"></i>
                                    <p><strong>Fee</strong></p>
                                </div>
                            </div>
                        </a>
                    </div> 
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="#/maintenance/privilege">
                            <div class="panel panel-default component">
                                <div class="panel-body text-center">
                                    <i class="white fa fa-th-list fa-3x"></i>
                                    <p><strong>Privilege</strong></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</ui-view>
