    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Privilege</span>
            
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Employee Smart Id</th>                                                       <th>FirstName</th>
                            <th>Role </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Profiles in ProfileInfo">
                            <td>{{ Profiles.smartId}}</td>                            
                            <td>{{ Profiles.firstName }}</td>
                            <td>{{ Profiles.role }}</td>
                            <td>
                            <td><a class="btn btn-small btn-primary" ng-click="add(Profiles)" value="add"> details
            </a></td> 
                                
   
            </tr>
        </tbody>
    </table>
</div>