
   <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Privilege</span>
        </div>           
 
        <div>
        <table class="table table-striped table-condensed"> 
            <tbody>               
            <thead>
            <tr>
                <th>Emp Smart Id</th>
                <th>FirstName</th>
                <th>Role</th>
                     
            </tr>
            </thead>
            <td>{{profile.smartId}}</td>
            <td>{{profile.firstName}}</td>
            <td>  
                <input name="role" type="text" id="Role" class="form-control" ng-model="profile.role" required/>
                <div class="alert alert-danger" role="alert" ng-if="editBandForm.role.$dirty && editBandForm.role.$error.required">Please enter Role
                </div>
                </td>
                </div>  
                    <td>   <button class="btn btn-small btn-primary pull-right" ng-click="update(profile)">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                    </button> 
                </td>                       
        </tbody> 	
    </table>        
</div>
