<!-- <ui-view>
	<div class="panel panel-default">
        <div class="panel-heading">        
            <span style="font-size: 20px;">Privilege</span><br>            
            <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            </div>
            </div>

	
        <div class="panel panel-default">
            <div class="panel-head text-center">
            	           
                <div class="panel-body">
                <div class="row"> 
			
	 <form name = "privilegeform" novalidate="novalidate" class="form-horizontal" >
		<div class="control-group">
			<label class="control-label" for="privilegename">Privilege Input</label>
			<div class="controls">
				<input name = "firstName" type="text" id="privilegename" ng-model="profile.firstName" placeholder="Privilege Name"/>
				<br><br>	
				</div>
				</div>	

		<div class="control-group">
            <div class="controls"> 
                <a ng-click="search($event,privilegeform)" class="btn btn-small btn-primary"><i class="glyphicon glyphicon-search"></i>Search</a> 

              
		
	</form>	
</ui-view>
 -->




 <ui-view>
	<div class="panel panel-default">
	
		<div class="panel-heading"> 
			 <span style="font-size: 20px;">Privilege</span>
	  	</div>

	  	 <div class="panel-body">
	  	 	<div class="row">
				<form name = "privilegeform" novalidate="novalidate" class="form-horizontal">
				<div ng-style="{'padding-top':'50px','padding-bottom':'80px'}">
				
	  	 	 		<div class="col-sm-offset-4 col-sm-4">
                        <div class="input-group" id="searchBox">
                        	<input name = "firstName" type="text" placeholder="Enter The Name" class="form-control" ng-model="profile.firstName" > 
                        	<span class="input-group-btn">
	                                    <button class="btn btn-primary" ng-click="search($event,privilegeform)" type="button">Search</button>
	                            </span>
	                    </div> 
	                </div> 
                </div>
            </div>
	  	 	</form>
	  	 	</div>
		</div>
	</div>
 </ui-view>               
                        	
                      
                                                                     
                            
                              

	                            