<ui-view>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-size: 20px;">Band</span>
            <button class="btn btn-small btn-primary pull-right" ng-click="addband()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
            <div class="clear-both"></div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Band</th>
                            <th>Role </th>
                            <th>Designation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Band in BandInfo">
                            <td>{{ Band.bandId}}</td>
                            <td>{{ Band.role }}</td>
                            <td>{{ Band.designation }}</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-small btn-primary" ng-click="editband(Band)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                    <a class="btn btn-small btn-danger" data-toggle="modal" ng-click="setCurrentBand(Band)" data-target="#confirmDelete"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="currentBand = null" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ui-view>
