<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-head text-center">
                <h2>Band</h2>
            </div>
            <div class="panel-body">
                <form name="editBandForm" novalidate="novalidate" ng-submit="update($event, editBandForm)">
                    <div class="form-group">
                        <label for="band"> Band</label>
                        <input name="id" type="number" id="band" class="form-control" ng-model="band.bandId" required />
                        <div class="alert alert-danger" role="alert" ng-if="editBandForm.id.$dirty && editBandForm.id.$error.required">
                            Please enter band id
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Role">Role</label>
                        <input name="role" type="text" id="Role" class="form-control" ng-model="band.role" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editBandForm.role.$dirty && editBandForm.role.$error.required">
                            Please enter Role
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Designation"> Designation</label>
                        <input name="designation" type="text" id="Designation" class="form-control" ng-model="band.designation" required/>
                        <div class="alert alert-danger" role="alert" ng-if="editBandForm.designation.$dirty && editBandForm.designation.$error.required">
                            Please enter Designation
                        </div>
                    </div>
                    <div>
                    <div class="alert alert-danger" role="alert" ng-show="editBandFormSubmitError">
                            {{editBandFormSubmitError}}
                        </div>
                        <center>
                            <a href="#/maintenance/band" class="btn btn-default btn-small">cancel</a>
                            <button type="submit" class="btn btn-small btn-primary">Update</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
