.btn-primary {
    color: #0275d8;
    background-color: transparent;
    background-image: none;
    border-color: #0275d8; 
}




.user-info {
	background-color: #37474f;
	color: #b0bec5;
}

.sidebar {
	background-color: #263238;
	color: #616161;
}

.sidebar .list{
	background-color: #263238;
	color: #616161;
}

.sidebar .list ul li{
	border: 1px solid #2f3c43;
}

.sidebar-toggle {
	margin-left: 0px !important;
}

.sidebar-toggle .icon-bar {
	display: none;
}

.sidebar-toggle {
	border: none;
}

.sidebar-toggle:before {
	content: ''
}

.app-header {
	background: #263238;
    box-shadow: none;
}